<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\css\first.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
     <!-- Link to external JS file -->
</head>

<body>
    <div class="logo">
        <img decoding="async" src="static\image\sd.jpg" alt="logo" />
    </div>

    <header class="header">
        <div class="container flex">
            <div class="text">
                <h1 class="mb">
                    Welcome To <br />
                    <span>Gym Management System</span>
                </h1>

                <button id="getStartedBtn" class="btn mt">Get Started Now</button> <!-- Button with ID for JavaScript -->
            </div>

            <div class="visual">
                <img decoding="async" src="https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/banner-img.png" alt="" />
            </div>
        </div>
    </header>
    <script src="static\js\first.js" defer></script>
</body>

</html>
