<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/member_dash.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Dashboard</title>
</head>
<body>
    <main>
        <div id="button-container">
            <button class="curved-button" id="profileButton">Profile</button>
            <button class="curved-button" id="paymentHistoryButton">Payment History</button>
            <button class="curved-button" id="trainerButton">Trainer</button>
            <button class="curved-button" id="workoutsButton">Workouts</button>
            <button class="curved-button" id="equipment">Equipment Status</button>
        </div>
    </main>

    <!-- Link to the external JavaScript file -->
    <script src="static/js/member_dash.js"></script>
</body>
</html>
