<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg_success.css') }}">
</head>
<body>
    <header>
        <h1>Registration Successful!</h1>
        <p>Registration number is: <strong>"{{registration_number}}"</strong></p>
    </header>
    <button class="curved-button" id="payment">Payment</button>
    <script src="static/js/equip_dis.js"></script>
</body>
</html>
