<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <main>
        <div id="button-container">
            <button class="curved-button" id="profileButton">Member</button>
            <button class="curved-button" id="trainerButton">Trainer</button>
            <button class="curved-button" id="workoutsButton">User</button>
        </div>
    </main>

    <!-- Link to the external JavaScript file -->
    <script src="static/js/register.js"></script>
</body>
</html>
