<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/user_dash.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Dashboard</title>
</head>
<body>
    <main>
        <div id="button-container">
            <button class="curved-button" id="registerButton">Register</button>
            <button class="curved-button" id="paymentButton">Payment</button>
            <button class="curved-button" id="searchButton">Search</button>
            <button class="curved-button" id="bloodGroupButton">Blood Donor </button>
            <button class="curved-button" id="paymentHistoryButton">Payment History</button>
            <button class="curved-button" id="equipment">Equipment Status</button>
        </div>
    </main>

    <!-- Link to the external JavaScript file -->
    <script src="static/js/user_dash.js"></script>
</body>
</html>
